@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #e6e6e6;
    font-family: Barlow, sans-serif;
    font-size: 1.3em;
    color: #3c3c3c;
    width: 600px;
    margin: auto;
}
nav{
    margin: 32px 0px;
}
    nav button{
        background-color: #3c3c3c;
        color: #fff;
        padding: 8px 32px;
        border-radius: 12px;
        transition: .5s;
    }
    nav button:hover{
        background-color: #fff;
        color: #3c3c3c;
    }

#txt{
    background-color: #fff;
    border: 1px dashed #ccc;
    padding: 4px;
    font-size: 2em;
    color: #01432b;
}